@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background-color: #282D35;
    color: #fff;
}

nav {
    background-color: #21222A;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 2rem 1rem;

}

nav h3 {
    margin-right: auto;
    color: #00D8FF;
    font-size: 1.5rem;
}

h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

h4 {
    font-size: 1.3rem;
}



main .container {
    margin: 5rem 0rem 0rem 10rem;
    background: url('./assets/reactjs-bg.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position-x: 34rem;
    background-position-y: 7rem;
}

main .container li {
    list-style: none;
    font-size: 1.3rem;
    margin: 1.5rem 0rem;
}

main .container li::before {
    content: "\2022";
    font-size: 2rem;
    color: #61DAFB;
    font-weight: bold;
    display: inline-block;
    width: 1em;

}

footer,
footer a {
    color: #fff;
    text-align: center;
    margin-top: 4rem;
    font-size: small;
    text-decoration: none;
}